
body{
    width: 964px;
    margin: 0 auto;
    background-color: black
}
header{
    color: black;
    margin: 15px;
    border: 5px solid coral;
    padding: 3px;
    background-color: lightsteelblue;
    text-align: center;
    font-family: 'Fira Mono', monospace;
    
}
article{
    border: 1px solid coral;
    background-color: lightsteelblue;
    padding: 20px;
    width: 565px;
    float: left;
    margin-left: 15px;
    height: 1300px;
    line-height: 1.5em;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
}
nav{
    background-color: lightgray;
    padding: 10px;
    width: 305px;
    float: left;
    margin-right: 15px;
    height: 275px;
    text-decoration-color: coral;
    font-size: 25px;
    border: 1px solid coral;
    font-family: 'Fira Mono', monospace;
}
aside{
    background-color: coral;
    padding: 10px;
    width: 307px;
    float: left;
    margin-right: 15px;
    height: 1025px;

    font-family: 'Fira Mono', monospace;
}
footer{
    background-color: black;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
    text-align:center;
    color: coral;
}   

ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
}
li.menu{
    display: block;
    color: #000;
    text-decoration: none;
}
a.menu{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
a.menu:hover{
    background-color: #555;
    color: white;
}
a.active{
    background-color: #4CAF50;
    color: red;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
