
        body{
            font-family: Arial;
            background-color: #17E4F1;}
        h1 {
            color: #CBCBCB;
            background-color: #750B0C;
            padding: 20px;}
        p {padding-left: 20px;
            padding-right: 20px;}
h2 { color: silver;
    background-color: #750B0C;
padding: 10px;}